<!DOCTYPE html>
<html lang="en">

    <head>
        {{!-- META TAGS --}}
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta http-equiv="X-UA-Compatible" content="ie=Edge" />
        {{!-- RESPONSIVE --}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{!--  WEB PAGE TITLE --}}
        <title></title>

        {{!-- GOOGLE FONTS POPPINS --}}
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

        {{!-- ANIMATE CDN  --}}
        <link rel="stylesheet" href="animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        {{!-- CSS LINK --}}
        <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
    </head>

    <body>
    

        
        {{{ body }}}
    
    
    <script src="http://code.jquery.com/jquery.js"></script>
    </body>
</html>