<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>tally</title>
<meta name="description" content="tally inventory application" />
<meta name="author" content="Team Red" />
<meta http-equiv="X-UA-Compatible" content="ie=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
{{!-- <link href="./stylesheets/loginsignup.css" rel="stylesheet" /> --}}
<link rel="icon" href="https://github.com/kdove/project-2/blob/master/Images/orange-tally/favicon.png?raw=true">
{{!-- <link rel="icon" href="/project-2/Images/orange-tally/favicon.png">  --}}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<script src="https://use.fontawesome.com/0c8059d717.js"></script>
<link rel="stylesheet" href="stylesheets/main.css">
</head>

    <body>
        
        {{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/app.js"></script>
  </body>
  </html>