<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<meta name="description" content="Project2" />
<meta name="author" content="" />
<meta http-equiv="X-UA-Compatible" content="ie=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Project 2</title>
<!-- CSS LINK-->
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<script src="https://use.fontawesome.com/0c8059d717.js"></script>
<link rel="stylesheet" href="style.css">
</head>

    <body>
        
        {{{ body }}}

  {{!-- MOMENT LINK --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  {{!-- JQUERY LINK  --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  </body>
  </html>