<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>tally</title>
<meta name="description" content="tally" />
<meta name="author" content="Team Red" />
<meta http-equiv="X-UA-Compatible" content="ie=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
{{!-- <link href="./stylesheets/loginsignup.css" rel="stylesheet" /> --}}
<link rel="icon" href="../Images/orange-tally/favicon.png">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<script src="https://use.fontawesome.com/0c8059d717.js"></script>
<style>
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    background: none;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
}

svg {
    display: block;
}

body {
    border-radius: 10px;
    background-color: #ececec;
    font: 16px/1.5 "Poppins", sans-serif;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 180px;
    color: #fff;
    background-color: #e55c25;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked ~ #sidenav {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidenavIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 55px;
    height: 30px;
    width: 30px;
    z-index: 99;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.h {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.d.s1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.d.s2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidenavIconToggle > .h {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidenavIconToggle > .d.s1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidenavIconToggle > .d.s2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.page-header nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100%;
    margin-top: 50px;
}

.page-header .logo {
    display: block;
    max-width: 100px;
    margin: 0 10px;
}

.nav-profile {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    min-height: 90px;
    background-color: #e55c25;
    margin-top: 10px;
    margin-left: 30px;
}

.nav-profile-avatar {
    vertical-align: middle;
    background-image: url("gitprofilepic.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 64px;
    width: 64px;
    margin: 0 15px;
    margin-left: 10px;
}

.nav-profile-title {
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.page-header .admin-menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-top: 35px;
}

.page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

.page-header .admin-menu li > * {
    width: 100%;
    padding: 12px 15px;
}

.page-header .admin-menu i {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.page-header .admin-menu a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.9rem;
    -webkit-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus {
    color: #015077;
    background-color: #fff;
    outline: none;
}

.page-header .admin-menu a:hover i,
.page-header .admin-menu a:focus i {
    color: #015077;
    background-color: #fff;
}

.page-header .admin-menu a.active {
    color: #e55c25;
    background-color: #fff;
    border-right: 2px solid #015077;
    transform: translateX(0);
}
</style>
</head>

    <body>
        
        {{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="script.js" type="text/javascript"></script>
  </body>
  </html>