<header class="page-header">
    <nav>
        <!-- TALLY LOGO -->
        <div class="logo">
            <a href="#">
                <img class="logo" src="../Images/white-tally/tally_white_logo_transparent.png" alt="white tally logo">
            </a>
        </div>
        <div class="profile-avatar"></div>
        <ul role="navigation" class="admin-menu">
            <li>
                <a href="/home"> <i class="fa fa-tachometer fa-lg" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a class="active" href="/library">
                    <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                    <span>Library</span>
                </a>
            </li>
            {{!-- <li>
                <a href="#products"><i class="fa fa-tags fa-lg" aria-hidden="true"></i>
                    <span>Products</span>
                </a>
            </li> --}}
            <li>
                <a href="/library-new">
                    <i class="fas fa-warehouse fa-lg" aria-hidden="true"></i>
                    <span>Inventory</span>
                </a>
            </li>
            <li>
                <a href="#logout">
                    <i class="fas fa-sign-out-alt fa-lg" aria-hidden="true"></i>
                    <span>Log out</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<section class="page-content">
    <section class="search-user">
        <form>
            <input type="search" placeholder="Quick search...">
            <button type="submit" aria-label="submit form">
                <i class="fa fa-search fa-3x" aria-hidden="true" id="search-icon" style="color: #e55c25;"></i>
            </button>
        </form>
        <div class="admin-profile">
            <span class="greeting">Hello admin</span>
            <div class="user-avatar">
                <div class="dropdown">
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item">
                            <span class="dropdown-icon"><i class="far fa-user"></i></span>
                            <span class="dropdown-title">Profile</span>
                        </li>
                        <li class="dropdown-list-item">
                            <span class="dropdown-icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="dropdown-title">Account</span>
                        </li>
                        <li class="dropdown-list-item">
                            <span class="dropdown-icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="dropdown-title">Log Out</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="grid">
        <article class="library">
            {{#if home }}
            {{> pages/home}}
            {{/if}}
            ​
            {{#if library }}
            {{> pages/library barcode=barcode}}
            {{/if}}
            ​
            {{#if libraryNew}}
            {{> pages/add-barcodes barcode=barcode}}
            {{/if}}
        </article>
        <footer class="page-footer">
            <small> Copyright 2020
            </small>
        </footer>
    </section>