<header class="page-header">
    <input type="checkbox" class="openSidebar header-menu" id="openSidebar">
    <label for="openSidebar" class="sidenavIconToggle sidenav-brand-close">
        <div class="spinner d s1"></div>
        <div class="spinner h"></div>
        <div class="spinner d s2"></div>
    </label>
    <nav>
        <!-- TALLY LOGO -->
        <div class="logo">
            <a href="#">
                <img class="logo" src="./white-tally/tally_white_logo_transparent.png" alt="white tally logo">
            </a>
        </div>
        <div class="nav-profile">
            <div class="nav-profile-avatar"></div>

        </div>
        <div class="nav-profile-title">
            <h3>Carla Beltran</h3>
        </div>
        <ul role="navigation" class="admin-menu hidden">
            <li>
                <a class="active" href="#members.html"> <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#library.html">
                    <i class="fa fa-barcode" aria-hidden="true"></i>
                    <span>Library</span>
                </a>
            </li>
            <li>
                <a href="#products.html"><i class="fa fa-tags" aria-hidden="true"></i>
                    <span>Products</span>
                </a>
            </li>
            <li>
                <a href="#inventory.html">
                    <i class="fas fa-warehouse" aria-hidden="true"></i>
                    <span>Inventory</span>
                </a>
            </li>
            <li>
                <a href="#logout.html">
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    <span>Log out</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    {{#if home barcode}}
    {{> pages/home}}
    {{/if}}
    ​
    {{#if myLibrary barcode}}
    {{> pages/library}}
    {{/if}}
    ​
    {{#if addBarcode barcode}}
    {{> pages/add-barcode}}
    {{/if}}
</main>