<div class="grid">
    <header class="header">
        <div class="header-search">
            <form id="search-form" action="" method="POST">
                <div class="form-group">
                    <input class="form-control header-input" type="text" placeholder="Search..." />
                    <button type="submit" class="search-button"><i class="fa fa-search" aria-hidden="true"
                            id="search-icon" style="color: #e55c25;"></i></button>
                </div>
            </form>
        </div>
        <div class="header-avatar">
            <div class="dropdown">
                <ul class="dropdown-list">
                    <li class="dropdown-list-item">
                        <span class="dropdown-icon"><i class="far fa-user"></i></span>
                        <span class="dropdown-title">Profile</span>
                    </li>
                    <li class="dropdown-list-item">
                        <span class="dropdown-icon"><i class="fas fa-clipboard-list"></i></span>
                        <span class="dropdown-title">Account</span>
                    </li>
                    <li class="dropdown-list-item">
                        <span class="dropdown-icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="dropdown-title">Log Out</span>
                    </li>
                </ul>
            </div>
        </div>
    </header>