{{!--  --}}
<div class="container">

    {{!-- ROW --}}
    <div class="row">

        {{!-- COLUMN 1 --}}
        <div class="col">

        
        </div>

        {{!-- COLUMN 2 --}}
        <div class="col">

        
        </div>

    </div>

</div>


{{!-- LOGIN JS --}}
<script type="text/javascript" src="/public/js/login.js"></script>