{{#if barcode}}
<table>
  <tr>
    <th>Barcode</th>
    <th>Description</th>
    <th>Active</th>
  </tr>
  {{#each barcode}} 
    <tr id="{{Upc}}">
        <td class="upc">{{Upc}}</td>
        <td><textarea class="text" maxlength="50" placeholder="{{Description}}"></textarea></td>
        <td><button class="btn btn-default" data-id="{{Upc}}">Deactivate</button></td>
    </tr>
  {{/each}}
</table>
{{/if}}
{{#unless barcode}}
<div id= "empty-barcodes">
<a href="/library-new">
<img border="0" alt="barcode" src="https://miro.medium.com/max/537/1*vjKUBdAgPk5e0M8u2VcWHA.jpeg" width="auto" height="auto">
</a>
<p id="empty-barcode-text"><a href="/library-new">Please visit the Inventory page</a></p>
</div>
{{/unless}}